.scrollDown{
  transition: transform .2s;
  display: inline-block;
}

.scrollDown:hover{
  color: #c2c2c2 !important;
}

.linkTrans{
  transition: transform .2s;
  display: inline-block;
}

.linkTrans:hover{
  color: #c2c2c2 !important;
  transform: scale(1.2) !important;
}