.scrollDown{
  transition: transform .3s;
  display: inline-block;
}

.scrollDown:hover{
  color: #c2c2c2 !important;
}

.linkTrans{
  transition: transform .3s;
  display: inline-block;
}

.linkTrans:hover{
  color: #c2c2c2 !important;
  transform: scale(1.2) !important;
}

.cardMain{
  transition: transform .3s;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}

.cardMain:hover{
  transform: scale(1.1) !important;
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

@media only screen and (min-width: 768px){
  #cards{
    height: 100vh;
  }
}